torch==1.8.1
torchvision==0.9.1
pytorch-lightning==1.6.0
pytorch-lightning-bolts==0.3.0
scikit-learn
scikit-image
earthengine-api
rasterio
lmdb
pyshp
shapely
wandb
matplotlib
gym
Pillow==9.5.0
submitit
torchmetrics
opencv-python
timm
